src/public/css/* linguist-vendored=true
src/public/js/* linguist-vendored=true
src/public/fonts/* linguist-vendored=true
src/public/plugins/* linguist-vendored=true
src/public/tabler/* linguist-vendored=true