

<!DOCTYPE html>
<html lang="en">
<% include ../main/head.ejs %>

        <header id="header" style="height:534px"><br><br>
            <div class="container">
                <div class="intro-text">
                    <h1 id="large" class="intro-lead-in">This repo has yet to be initialized.</h1>
                    <span id="msg">Please give us a minute to create your repo...<span id="time"></span>
                    <div class="header-dashboard"> 
                        <span class="spinner"></span>
                    </div>
                </div>
            </div>
            <div id="particles-js"></div>
        </header>
        <%- include ../main/footer %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script>
var socket = io();
socket.emit('repo', "<%= repo %>");
socket.on('err', function(data) {
    $('#large').html(data.title);
    $('#msg').html(data.sub);
});
socket.on('found', function(data) {
    window.location.href = data;
})
</script>
    </body>
</html>
