<!DOCTYPE html>
<html lang="en">
<% include main/head.ejs %>

        <header id="header">
            <div class="container">
                <div class="intro-text">
                    <h1 id="demo" class="intro-lead-in">Git-Chat, <span id="words">connecting collaborators</span></h1>
                    <span class="intro-heading">Communicate with collaborators, simply and efficiently so everyone understands.</span>
                    <div class="header-buttons">
                        <% if(!user) { %>
                        <a href="/auth/github" class="primary-button">
                            Login with github <i class="fab fa-github"></i>
                        </a>
                        <% }  %>
                    </div>

                    <div class="header-dashboard"> 
                        <img style="width:100%" src="img/git-chat-github.png" class="dashboard" alt="">
                    </div>
                </div>
            </div>
            <div id="particles-js"></div>
        </header>
        <section style="background-color: #fff">
            <div class="container">
                <div class="page-header" style="text-align: center!important; display: block;">
                    <h1>
                        Meet Git-Chat
                    </h1>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xl-4">
                        <div class="card">
                            <div class="card-status card-status-left bg-blue"></div>
                            <div class="card-header">
                                <h3 class="card-title" style="font-size: 30px; color: #fff; margin-top: 1rem"><i class="fa fa-chart-pie"></i> Efficiency</h3>
                                <div class="card-options">
                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fa fa-x"></i></a>
                                </div>
                            </div>
                            <div class="card-body" style="color: #fff" >
                                Git-Chat is a way for developers to work on projects quickly and reliably with other contributors to provide quality code.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <% include main/footer.ejs %>
        <script>
        window.addEventListener('load', function() {
            setTimeout(() => {
                typeWriter()
            },2000)
        })
            var i = 0;
            var l = true;
            var x = true;
            var words = ['helping communities', 'connecting collaborators', 'communicating with developers', 'saving time and energy', 'fixing bugs faster', 'made by Dan-Divy']; /* The text */
            var speed = 100; /* The speed/duration of the effect in milliseconds */
            var wait = 7000;
            function typeWriter() {
                setInterval(() => {
                    if(!l) return;
                    let txt = Array.from(document.getElementById('words').innerHTML);
                    if(txt.length != 0 && x) {
                        delete txt[txt.length -1];
                    } else {
                        x = false;
                        if(!words[0][i]) {
                            words.push(words[0])
                            words.shift();
                            x = true;
                            i = 0;
                            l = false;
                            return int = setTimeout(() => {l = true}, wait);
                        }
                        txt.push(words[0][i])
                        i++;
                    }
                    document.getElementById('words').innerHTML = txt.join('');
                }, speed)
            }
        </script>
    </body>
</html>
