<footer>
            <div class="container">
                <div class="row">
                    <!-- UPPER FOOTER -->
                    <div class="upper-footer">
                        <div class="pull-left">
                            <a class="logo page-scroll" href="#page-top"><img style="width: auto;height: 90px;" src="img/logo-white.png" class="img-responsive" alt=""></a>
                            <p>Git-Chat is not affiliated with Github. Git-Chat uses github services to work</p>
                        </div>
                        <div class="pull-right">
                            <ul class="footer-nav">
                                <li class="">
                                    <a class="page-scroll" href="/">Home</a>
                                </li>
                            </ul>
                            <ul class="footer-secondary-nav">
                                <li class="">
                                    <a style="margin-top: 2%; font-size: 20px" class="page-scroll" href="mailto:dan@dancodes.online"><span class="fa fa-envelope"></span>dan@dancodes.online</a>
                                </li>
                                <li class="">
                                    <a style="margin-top: 2%; font-size: 20px" class="page-scroll" href="https://github.com/dan-divy/"><span class="fab fa-github"></span> Github</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="lower-footer">
                        <div class="pull-left">
                            <span>© <script>document.write(new Date().getFullYear())</script> Git-Chat. All rights reserved </span>
                            <a href="#"> Terms of Service </a>
                            <a href="#"> Privacy Policy </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>
        <script src="js/jquery.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/smoothscroll.js"></script>
        <script src="js/jquery.easytabs.min.js"></script>
        <script src="js/piechart.js"></script>
        <script src="js/particles.js" type="text/javascript"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6EUUQ9DSc3iyu0uNEcTYTYJbX-K5XA3Q&sensor=false"></script>
        <script src="js/scripts.js"></script>