    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Git-Chat - Software Landing Page">
        <meta name="author" content="KeyDesign" />
        <!-- SITE TITLE -->
        <title>Git-Chat - Software Landing Page</title>
        <!-- STYLESHEETS -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <!-- DEMO COLORS  -->
        <link href="#" class="css-color" rel="stylesheet">

        <!-- FAVICON  -->
        <link rel="icon" href="img/favicon.ico">
    </head>
    <body>
        <!-- PRELOADER -->
        <div id="preloader">
            <div class="spinner"></div>
        </div>
        <!-- LIVE PREVIEW CUSTOMIZER -->
        <div id="customizer" class="hidden-xs">
            <span>HEADERS</span>
            <ul id="headerbg">
                <li>
                    <a href="/demo1" class="active">Dashboard - Particles</a>
                </li>
                <li>
                    <a href="/demo2">Mobile - Particles</a>
                </li>
                 <li>
                    <a href="/demo3">Subscribe - Particles</a>
                </li>
                  <li>
                    <a href="/demo4">Dashboard - Video</a>
                </li>
                  <li>
                    <a href="/demo5">Mobile - Video</a>
                </li>
                <li>
                    <a href="/demo6">Subscribe - Video</a>
                </li>
                <li>
                    <a href="/demo7">Dashboard - Image</a>
                </li>
                <li>
                    <a href="/demo8">Mobile - Image</a>
                </li>
                <li>
                    <a href="/demo9">Subscribe - Image</a>
                </li>
                <li>
                    <a href="/demo10">Video & Form - Particles</a>
                </li>
                <li>
                    <a href="/demo11">Video & Form - Video</a>
                </li>
                <li>
                    <a href="/demo12">Video & Form - Image</a>
                </li>
          </ul>
            <span>COLORS</span>
            <ul id="colors">
                <li>
                    <a id="blue"></a>
                </li>
                <li>
                    <a id="green"></a>
                </li>
                 <li>
                    <a id="teal"></a>
                </li>
                  <li>
                    <a id="indigo"></a>
                </li>
                  <li>
                    <a id="magenta"></a>
                </li>
                <li>
                    <a id="orange"></a>
                </li>
          </ul>
          <ul id="supportbg">
          <span>SUPPORT</span>
                <li>
                    <a target="_blank" href="http://Git-Chat.keydesign-themes.com/documentation/">Documentation</a>
                </li>
                <li>
                    <a target="_blank" href="http://keydesign.ticksy.com">Submit a Ticket</a>
                </li>
          </ul>
        </div>
        <!-- MAIN NAV -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- MAIN NAV LOGO -->
                    <a class="logo page-scroll" href="#header"><img src="img/logo-white.png" class="img-responsive" alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <!-- MAIN NAV LINKS -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="/">Home</a>
                        </li>
                        <% if(user) { %>
                        <li>
                            <a class="page-scroll" href="/dashboard">Repositories</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/profile">Profile</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/auth/logout">Logout</a>
                        </li>
                        <% } %>
                    </ul>
                    <!-- END MAIN NAV LINKS -->
                </div>
            </div>
        </nav>